runtime: &runtime
  seed: 42

  use_cond: true
  filter_by_cond: true

  num_observation: 1  # number of input reference images
  multiview: true
  visual_guidance: true
  control_keys: ['depth', 'label']

dataset:
  <<: *runtime

  load_actions: true
  load_tensors: true  # load pre-encoded latents instead of raw data
  load_video: false
  load_condGT: false

  slice_frame: true  # if False, will use the entire video
  use_3dvae: true
  num_samples: -1
  no_normalize: false

transformer:
  <<: *runtime
  pretrained_model_name_or_path: THUDM/CogVideoX-2b
  transformer_model_name_or_path: outputs/orv_bridge2_traj-image_480-320_multiview_condfull_20k/checkpoint

  modulate_encoder_hidden_states: true

evaluation:
  <<: *runtime
  output_dir: null  # will use the name of checkpoint

  mode: traj-image-depth-label

  batch_size: 4