runtime: &runtime
  seed: 42

  num_observation: 1  # number of input reference images

dataset:
  <<: *runtime

  load_actions: True
  load_tensors: True  # load pre-encoded latents instead of raw data
  load_video: False
  load_condGT: False

  slice_frame: True  # if False, will use the entire video
  use_3dvae: True
  num_samples: -1
  no_normalize: False

transformer:
  <<: *runtime
  pretrained_model_name_or_path: THUDM/CogVideoX-2b
  transformer_model_name_or_path: ./outputs/cirasim_bridge_traj-image_480-320_scratch_notext_full_30k/checkpoint

evaluation:
  <<: *runtime
  output_dir: NULL  # will use the name of checkpoint

  batch_size: 4